/* Bloque: header */
.header {
    background-color: #045E7C;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 15px;
    text-align: center;
    color: white;
    border-radius: 15px;
}

/* Elemento: title dentro de header */
.header__title {
    font-size: 24px;
}

/* Elemento: enlace dentro de header */
.header__link:link {
    color: white;
    text-decoration: none;
}

/* Bloque: main (no necesita elementos, ya que no tiene subcomponentes directos) */
main {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 15px;
}

/* Bloque: section__title, nombre para un título dentro de una sección */
.section__title {
    color: #045E7C;
    border-bottom: 2px solid #045E7C;
}

/* Bloque: experience */
.experience__job-title {
    color: dimgray;
}

/* Elemento: fecha dentro de un bloque experience */
.experience__date {
    color: #045E7C;
    font-style: italic;
    font-size: 11px;
    font-weight: bold;
}

/* Bloque: footer */
.footer {
    background-color: #045E7C;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 15px;
    text-align: center;
    color: white;
    border-radius: 15px;
}
